@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "inter", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.container .left .picture {
  width: 730px;
  height: 300px;
}
.container .left .picture img {
  width: 730px;
  height: 300px;
}
.container .left .left-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .left .left-info h1 {
  width: 350px;
  font-size: 56px;
  font-weight: 800;
}
.container .left .left-info .btn-box {
  width: 350px;
}
.container .left .left-info .btn-box p {
  margin-bottom: 29px;
  color: #5E607A;
  line-height: 26px;
}
.container .left .left-info .btn-box .btn {
  width: 185px;
  height: 48px;
  color: #ffffff;
  font-family: inherit;
  background-color: #F15D51;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  font-weight: 700;
}
.container .left .left-info .btn-box .btn:hover {
  background-color: #00001A;
}
.container .right {
  background-color: #00001A;
  max-width: 350px;
  padding: 24px 32px;
}
.container .right h2 {
  color: #E9AA52;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 34px;
}
.container .right .right-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
}
.container .right .right-info .info h4 {
  color: white;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container .right .right-info .info h4:hover {
  color: #E9AA52;
}
.container .right .right-info .info p {
  color: #C5C6CE;
  margin-bottom: 29px;
  line-height: 26px;
  font-size: 15px;
}
.container .right .right-info .info div {
  border-top: 1px solid #5E607A;
}